{% extends "base.html" %}
{% load static %}

{% block css.custom %}
{% endblock css.custom %}

{% block content %}
<div class="container">
  <h2>{{ result.original_title }}</h2>
  <div class="row">
    <div class="col-sm-6" id="poster">
      <img src="{{ poster }}" class="img-responsive center-block" />
      <blockquote>
        <p>"{{ result.tagline }}"</p>
      </blockquote>
    </div>
    <div class="col-sm-6">
      <p class="lead">Plot</p>
      <p>{{ result.overview }}</p>
      <a class="btn btn-default center-block" href="http://www.imdb.com/title/{{ result.imdb_id }}" target="_blank" id="imdb">IMDB page</a>
      <p class="lead">Trailer</p>
      <div class="embed-responsive embed-responsive-16by9" id=trailer>
        <iframe class="embed-responsive-item" src="{{ trailer }}"></iframe>
      </div>
      <p class="lead">Featured images</p>
      <div class="row">
        {% for image in images %}
        <div class="col-sm-3">
          <a href="https://image.tmdb.org/t/p/original{{ image.file_path }}" target="_blank"><img src="https://image.tmdb.org/t/p/w185{{ image.file_path }}" class="img-responsive center-block" /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9" id="castcrew">
      <div class="row" id="cast"></div>
      <div class="row" id="crew"></div>
    </div>
    <div class="col-sm-3">
      <div id="rating"></div>
    </div>
  </div>
  <form id="hiddenCastForm" method="POST" action="{% url 'movies:getcastcrewrating' %}">
    {% csrf_token %}
  </form>
</div>
{% endblock content %}

{% block js.custom %}
<script type="text/javascript">
  $(document).ready(function(){
    $.post("{% url 'movies:getcastcrewrating' %}", {slug: "{{ slug }}", csrfmiddlewaretoken: $("#hiddenCastForm input[name=csrfmiddlewaretoken]").val()}, function(data){
      $("#cast").append("<p class=\"lead\">Cast</p>");
      for(i in data['cast']) {
        $("#cast").append("<div class=\"col-sm-2\"><img class=\"img-responsive\" src=\"" + data['cast'][i] + "\" /></div>");
      }

      $("#crew").append("<p class=\"lead\">Crew</p>");
      for(i in data['crew']) {
        $("#crew").append("<div class=\"col-sm-2\"><img class=\"img-responsive\" src=\"" + data['crew'][i] + "\" /></div>");
      }

      console.log(data['rating']);
      $("#rating").append("<p class=\"lead\">Rating</p>");
      $("#rating").append("<p>Trakt.tv: "+data['rating'][0]+"</p>");
      $("#rating").append("<p>Metacritic: "+data['rating'][1]+"</p>");
      $("#rating").append("<p>IMDB: "+data['rating'][2]+"</p>");
      $("#rating").append("<p>Rotten Tomatoes users: "+data['rating'][3]+"</p>");
      $("#rating").append("<p>Rotten Tomatoes critics: "+data['rating'][4]+"</p>");
    }, "json");
  });
</script>
{% endblock js.custom %}
